{% extends 'learning_logs/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
  <a href="{% url 'learning_logs:topic' topic.id %}" 
    class="bi bi-arrow-left btn btn-outline-light btn-md ps-2 border-0 text-start text-dark"></a>

    <h1>{{ topic }}</h1>

{% endblock page_header %}

{% block content %}
  <div class="p-3 rounded-3">
    <h5>Edit entry</h5>

    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post"
          class="mt-1">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button name="submit" class="mt-0 btn btn-sm btn-primary">Save changes</button>
    </form>
  </div>

{% endblock content %}