{% extends 'learning_logs/base.html' %}
{% load django_bootstrap5 %}


{% block page_header %}
<a href="{% url 'learning_logs:topics' %}"
  class="bi bi-arrow-left btn btn-outline-light btn-md ps-2 border-0 text-start text-dark" ></a>

<h1>Add a new topic</h1>
{% endblock page_header %}

{% block content %}

  <form action="{% url 'learning_logs:new_topic' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form show_label=False %}
        
    <button name="submit" class="btn btn-primary mt-2">Add topic</button>
  </form>

{% endblock content %}
