{% extends 'learning_logs/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
<a href="{% url 'learning_logs:topics' %}"
  class="bi bi-arrow-left btn btn-outline-light btn-md ps-2 border-0 text-start text-dark" ></a>
    
<h1>{{ topic.text }}</h1>
{% endblock page_header %}

{% block content %}
  <p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}"
        class="btn btn-primary btn-md">Add new entry</a>
  </p>
  
  {% for entry in entries %}
  <div class="card mb-3">
    <!-- Card header with timestamp and edit link -->
    <h4 class="card-header">
      {{ entry.date_added|date:'M d, Y H:i' }}
      <small><a href="{% url 'learning_logs:edit_entry' entry.id %}" 
          class="btn btn-outline-secondary btn-sm border-0">
        edit entry</a></small>
    </h4>
    <!-- Card body with entry text -->
        <div class="card-body">{{ entry.text|linebreaks }}</div>
  </div>
  {% empty %}
      <p>There are no entries for this topic yet.</p>
    {% endfor %}

  {% endblock content %}